:root {
    --var-soft-red: hsl(7, 99%, 70%);
    --var-yellow: hsl(51, 100%, 49%);
    --var-dark-desaturated-cyan: hsl(167, 40%, 24%);
    --var-dark-blue: hsl(198, 62%, 26%);
    --var-dark-moderate-cyan : hsl(168, 34%, 41%);
    --var-very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --var-very-dark-grayish-blue: hsl(213, 9%, 39%);
    --var-dark-grayish-blue: hsl(232, 10%, 55%);
    --var-grayish-blue: hsl(210, 4%, 67%);
    --var-white: hsl(0, 0%, 100%);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: "Work-Sans", sans-serif;
    font-size: 18px;
}
.container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 375px) {
    .container {
        width: 360px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 100px;
}
header .logo {
    color: var(--var-white);
    font-size: 25px;
    font-family: "Barlow",Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-weight: bolder;
}
header .container nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav ul {
    display: flex;
}
@media (max-width: 767px) {
    header nav ul {
        display: none;
        position: relative;
    }
    header nav .fa-bars:hover + ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 30px;
        width: 82%;
        margin-top: 30px;
        padding-top: 25px;
        padding-bottom: 25px ;
        background-color: var(--var-yellow);
    }
    header nav ul::after {
        content: "";
        position: absolute;
        border: 15px solid;
        border-color: transparent var(--var-yellow) transparent transparent;
        top: -15px;
        right: 0;
     
    
    }
}
header nav ul li a {
    display: block;
    color: var(--var-white);
    text-decoration: none;
    font-size: 14px;
    padding: 15px 30px;
    z-index: 2;

}
header nav ul li a.active {
    background-color: var(--var-white);
    color: var(--var-very-dark-desaturated-blue);
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Fraunces";
}

@media (max-width: 375px) {
    header nav ul li a {
        color: var(--var-soft-red);
        font-family: "Fraunces";
        font-size: 16px;
        margin-left: -30px;
    }
    header nav ul li a.active {
        color: var(--var-yellow);
        font-weight: normal;
        text-transform: capitalize;
        border: 1px solid var(--var-soft-red);
        background-color: var(--var-soft-red);
        margin-top: 15px;
    }
}

header nav .fa-bars{
    color: var(--var-white);
    font-size: 22px;
}
@media (min-width: 768px) {
    header nav .fa-bars {
        display: none;
    }
}
.landing {
    min-height: 100vh;
    background-color: aqua;
    background-image: url(../images/desktop/image-header.jpg);
    background-size:cover;
    position: relative;
} 
@media (max-width:375px) {
    .landing {
        background-image: url(../images/mobile/image-header.jpg);

    } 
}
.landing .text {
    display: flex;
    justify-content: center;
}
.landing p {
    color: var(--var-white);
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 12px;
    margin-top: 200px;
}
@media (max-width:375px) {
    .landing p {
        font-weight: 700;
        font-size: 38px;
        letter-spacing: 8px;
        line-height: 1.5;
        text-align: center;
        margin-left: 10px;
        margin-top: 200px;
    }
}
.landing .arrow {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}
@media (max-width: 375px) {
    .landing .arrow {
        display: none;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(1200px,1fr));
    overflow: hidden;
}
@media (max-width: 375px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(375px,1fr));
    
    }
}

.gallery .section1 {
    display: flex;
    flex-direction: row-reverse;
}
@media (max-width: 375px) {
    .gallery .section1 {
        display: flex;
        flex-direction: column;
    }
}

.gallery .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--var-white);

}
.gallery .text h2 {
    width: 60%;
    color: var(--var-very-dark-desaturated-blue);
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 40px;
    line-height: 1.2;
}
.gallery p {
    width: 60%;
    text-align:start;
    line-height: 20px;
    color: var(--var-dark-grayish-blue);
    font-size: 14px;
}

.gallery a {
    color: var(--var-very-dark-desaturated-blue);
    text-decoration: none;
    font-weight: bold;
    font-family:"Fraunces" ;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: -300px;
    margin-top: 25px;
    position: relative;
}
.gallery a::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: var(--var-soft-red);
    bottom: 0;
    left: 0;
}
@media (max-width:375px) {
    .gallery .text {
        text-align: center;
    }
    .gallery .text h2 {
        font-size: 35px;
        width: 80%;
    }

    .gallery .text p {
        width: 80%;
        font-weight: bold;
        text-align: center;
        line-height:1.7 ;    
        }
    .gallery a {
        margin-left:10px ;
        margin-bottom: 30px;
    }

}

.gallery .images {
    width: 100%;
}
.gallery img {
    height: 100%;
    max-width: 100%;
}
.gallery .section2 {
    display: flex;
}
@media (max-width: 375px) {
    .gallery .section2 {
        display: flex;
        flex-direction: column;
    }
}
.gallery .section3 {
    display: flex;
}
@media (max-width: 375px) {
    .gallery .section3 {
        display: flex;
        flex-direction: column;
    }
}

.gallery .section3 .graphic-design{
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-size: contain;
    min-height: 100vh;
    background-repeat: no-repeat;

}
@media (max-width: 375px) {
    .gallery .section3 .graphic-design{
        background-image: url(../images/mobile/image-graphic-design.jpg);
        min-height: 100vh;
        background-size: cover;
    }
}
.gallery .section3 .photography{
    background-image: url(../images/desktop/image-photography.jpg);
    background-size: contain;
    min-height: 100vh;
    background-repeat: no-repeat;

}
@media (max-width: 375px) {
    .gallery .section3 .photography{
        background-image: url(../images/mobile/image-photography.jpg);
        margin-top: -100px;
        background-size: cover;
    }
}
.gallery .section3>.graphic-design h2 {
    font-size: 30px;
    margin-top: 250px;
    margin-left: 150px;
    color: var(--var-dark-moderate-cyan);

}
@media (max-width: 375px) {
    .gallery .section3>.graphic-design h2 {
        font-size: 30px;
        margin-top: 250px;
        color: var(--var-dark-blue);
        margin-left: 20px;
    
    }
}
.gallery .section3>.graphic-design p {
    text-align: center;
    color: var(--var-dark-moderate-cyan);
    line-height: 1.7;
}
.gallery .section3>.photography h2 {
    font-size: 30px;
    margin-top: 250px;
    margin-left: 210px;
    color: var(--var-dark-blue);

}
.gallery .section3>.photography p {
    text-align: center;
    width: 300px;
    color: var(--var-dark-blue);
    line-height: 1.7;
}
@media (max-width: 375px) {
    .gallery .section3>.photography h2 {
        font-size: 30px;
        margin-top: 250px;
        color: var(--var-dark-blue);
        margin-left: 20px;
    
    }
}

.testimonials {
    padding-top: 20px;
    padding-bottom: 200px;
}
@media (max-width: 375px) {
    .testimonials {
        padding-bottom: 100px;
    }
}
.testimonials .testimonials-title {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    font-family: "Fraunces";
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--var-grayish-blue);
    margin-bottom: 100px;
    margin-left: 20px;

}
@media (max-width: 375px) {
    .testimonials .testimonials-title {
        font-size: 16px;
        font-weight: 700;
    }
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    gap: 30px;
}
@media (max-width: 375px) {
    .testimonials .container {
        gap: 100px;
    }
}

.testimonials .container .box {
    text-align: center;
}
.testimonials .container .box img {
    border-radius: 50%;
}
@media (max-width: 375px) {
    .testimonials .container .box img {
        width: 30%;
    }
}
.testimonials .container .box p {
    color: var(--var-dark-grayish-blue);
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 60px;
}
@media (max-width: 375px) {
    .testimonials .container .box p {
        margin-top: 60px;
        margin-bottom: 30px;
        letter-spacing: normal;
        margin-right: 30px;


    }
}
.testimonials .container .box h2 {
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Barlow";
    color: var(--var-very-dark-desaturated-blue);
}
.testimonials .container .box span {
    color: var(--var-dark-grayish-blue);
    text-transform: capitalize;
}

.photo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}
@media (max-width: 375px) {
    .photo {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    }
}

.photo img {
    width: 100%;
}

.footer {
    text-align: center;
    background-color: hsl(168, 52%, 76%);
    padding-top: 60px;
    padding-bottom: 60px;
}
@media (max-width: 375px) {
    .footer {
        padding-top: 60px;
        padding-bottom: 20px;
    }
}
.footer h1 {
    color: var( --var-dark-desaturated-cyan);
    font-weight: 900;

}
.footer ul {
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 20px;
}
.footer ul li a {
    margin-right: 60px;
    color: var( --var-dark-desaturated-cyan);
    text-transform: capitalize;
}
.footer .icons {
    margin-left: 20px;
}
.footer .icons svg {
    margin-right: 30px;
    color: var( --var-dark-desaturated-cyan);
}